extends layout 

block content 
    div(class='album-detail-container')
        h1 Album Title: #{album.name}

        p #[strong Date Released: ] #{album.date_released_formatted}

        p #[strong Available: ] (Copies: #{album.available})

        p #[strong Price: ] #{album.price}$ 

        p #[strong Status: ] #{album.status}

        p
            a(href=album.url + '/delete') Delete Album
        p 
            a(href=album.url + '/update') Update Album