extends layout 

block content 
    div(class='album-detail-container')
        h1 Album Title: #{album.name}

        p #[strong Date Released: ] #{album.date_released_formatted}

        p #[strong Available: ] (Copies: #{album.available})

        p #[strong Price: ] #{album.price}$ 

        p #[strong Status: ] #{album.status}

    form(method='POST')
        div(class='form-container')
            input#id(type='hidden' name='id', value=album._id)
        button(type='submit') Delete