extends layout 

block content 

    h1 Author: #{author.name}
    p #{author.date_of_birth}

    div(style='margin-left:20px; margin-right: 20px')

    h2 Featured: #{author.featured}

        h4 Songs 

        if author_songs.length 
            dl 
                each song in author_songs 
                    dt 
                        a(href=song.url) #{song.title}

        else 
            p This author has no songs.