extends layout 

block content 

    h1= title 
    if song_list.length 
        ul 
            each song in song_list 
                li 
                    a(href=song.url) #{song.title}
                    |  [#{song.channel_released} Release]
                    | - #{song.author.name}
    else 
        p There are no songs.
