extends layout 

block content 
    h1= title 

    form(method='POST')
        div(class='form-container')
            label(for='title') Title: 
            input#title(type='text' placeholder='Name of the song' name='title' required value=(undefined===song ? '' : song.title))
            label(for='author') Author:
            select#author(name='author' required)
                option(value='' required) --Select an author--
                for author in authors 
                    if song 
                        if author._id.toString()===song.author._id.toString()
                            option(value=author._id selected) #{author.name}

                        else 
                            option(value=author._id) #{author.name}
                    else 
                        option(value=author._id) #{author.name}
            label(for='song_duration') Song duration: 
            input#title(type='text' placeholder='4:20' name='song_duration' required value=(undefined=== song ? '' : song.song_duration))
            label(for='date_released') Date released: 
            input#date_released(type='date' name='date_released' required value=(undefined === song ? '' : song.date_released))
            label(for='channel_released') Channel released: 
            input#channel_released(type="text" name="channel_released" placeholder='Monsterdog' required value=(undefined === song ? '' : song.channel_released))
            label(for="available") Available:
            input#available(type="number" name="available" placeholder='Available songs', required value=(undefined === song ? '' : song.available))
            label(for='price') Price: 
            input#price(type="number" name='price' placeholder='10$' required value=(undefined === song ? '' : song.price))
            label Genre: 
                for genre in genres 
                    if genre.checked 
                        input(type="checkbox" name="genre", id=genre._id, value=genre._id checked)
                    else 
                        input(type="checkbox" name="genre" id=genre._id value=genre._id)
                    label(for=genre._id) &nbsp;#{genre.name} 

            label(for='album') Album: 
            select#album(name='album' required)
                option(value='' required) --Select an album--
                for album in albums 
                    if song 
                        if album._id.toString()===song.album.toString()
                            option(value=album._id selected) #{album.name}
                        else 
                            option(value=album._id) #{album.name}
                    else 
                        option(value=album._id) #{album.name}
            button(type='submit') Submit
            if errors 
                ul 
                    for error in errors 
                        li!= error.msg
